<div class="container">
<nav class="navbar navbar-light bg-light">
    <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    </form>
</nav>
<table id="dataTable" class="display">
    <thead>
      <tr>
        <th>Personnel Id</th>
        <th>Start Shift</th>
        <th>End Shift</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of shifts">
        <td>{{ item.personnelId }}</td>
        <td>{{ item.startShift }}</td>
        <td>{{ item.endShift }}</td>
      </tr>
    </tbody>
  </table>
  <div class="pagination">
    <nav aria-label="Page navigation">
        <ul class="paginate">
            <button  [disabled]="!hasPrevious" (click)="previousButton()">Previous</button>
            <button *ngFor="let item of counter;let i = index" (click)="spesificButton(i)" >{{i+1}}</button>
            <button  [disabled]="!hasNext" (click)="nextButton()">Next</button>
        </ul>
    </nav>
</div>
</div>